<p id="notice"><%= notice %></p>

<p>
  <strong>Index:</strong>
  <%= @map.index %>
</p>

<p>
  <strong>New:</strong>
  <%= @map.new %>
</p>

<%= link_to 'Edit', edit_map_path(@map) %> |
<%= link_to 'Back', maps_path %>
